[submodule "Radiant/thirdparty/glfw"]
	path = Radiant/thirdparty/glfw
	url = https://github.com/hydronics/glfw
[submodule "Radiant/thirdparty/spdlog"]
	path = Radiant/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Radiant/thirdparty/imgui"]
	path = Radiant/thirdparty/imgui
	url = https://github.com/hydronics/imgui.git
[submodule "Radiant/thirdparty/glm"]
	path = Radiant/thirdparty/glm
	url = https://github.com/g-truc/glm.git
